.navbar-brand{
    background:#4aaaa5;
    padding: 20px;
    
    
}

.ml-6{
    margin-left: 9rem!important;
}
body{
    background-image: url(backimage.png);
    
}

.mybackground{
    background: white;
}

.footer{
text-align: center;

bottom: 0;
display: block;
width: 100%;
border-top: 3px solid #4aaaa5;
margin-top: 40px;

}

.text{
    color: #4aaaa5;
    font-size: 30px;
    border-bottom: 3px solid #dddddd;
}

.borderlf {
border-left:1px solid#efefef;

}

.inputbutton{

     padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
border-radius: 0;

}
/* 
@media only screen and (max-width: 575px) {
    .container {
      width: 100%;
    }
  } 

  @media only screen and (min-width: 576px) {
    .container {
      margin-left: 20px;
      margin-right: 20px;
    }
  }  */

  .text-block{
    position: absolute;
    bottom: 5px;
    color: #ffffff;
    background: #4aaaa5;
    font-size: 15px;
    width: 100%;
    text-align: center;
   
  }

  .marginleft{
    left: 100px;
    position: absolute;
    overflow: none;
  }

  